{{> head }}
{{> navbar }}

<div class="row">
  <div class="col-8">
    <h1>Col1</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis, voluptas. Sed dignissimos ipsam similique totam voluptate soluta neque quis ab? Culpa sapiente vero blanditiis qui doloremque labore placeat totam deserunt.</p>
  </div>
  <div class="col-4">
    <img src="assets/img/ipn.png" class="img-thumbnail">
  </div>
</div>

{{> footer }}